
<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{>header}}
        <div class="wrapper">
          <div class="hero">
            <h1>OpsBot</h1>
              
            {{{body}}}
          </div>
        </div>
        {{> footer}}
    </body>
</html>
